.git
.github
.devcontainer
.vscode
.idea
.dev
**/target
**/node_modules
**/dist
**/.cache
**/*.log
.DS_Store
.env
.env.*
action
compose
docsite
example
scripts
screenshots
komodo.code-workspace
readme.md
roadmap.md
runfile.toml
